body
{
	margin: 0;
	background-color: #fff;
	font-size: 18px;
}

header {
position:absolute;
top:0px;
left:0px;
min-width: 100px;
max-width:1280px;
width:100%;
height:400px;
background-image:url(../img/main_full.jpg);
background-repeat:no-repeat;
background-size: 100%;
}

.row_menue
{

	position:absolute;
	top:0px;
	left:0px;
	opacity: 0.6;

}
.row_menue:hover
{
	opacity: 0.75;
}

.photos
{
	margin-top: 400px;
}


.im1, .im2, .im3, .im4, .im5, .im6
{
	display: inline-block;

}


@media(max-width: 375px)
{
	
header {
position:absolute;
top:0px;
left:0px;
min-width: 100px;
max-width: 375px;
width:100%;
height:130px;
background-image:url(../img/main_iphone.jpg);
background-repeat:no-repeat;
background-size: 100%;
}


.row_menue
{
position:absolute;
top:0px;
left:0px;
min-width:30px;
max-width:375px;
width:100%;
height:30px;
}

.photos
{
	
	margin-top: 180px;
}
.line-photos2
{
	
	padding-top:  7px;
}

.im1, .im2, .im3, .im4, .im5, .im6
{	
	width: 85px;
	height: 85px;
}


.test_im1
{
background: url(../img/i-1.jpg) no-repeat 50% 50%;
display: inline-block;
width: 85px;
height: 85px;
}
.test_im1:hover
{
background: url(../img/1_pic.jpg) no-repeat 50% 50%;
display: inline-block;
width: 85px;
height: 85px;
opacity: 0.5;
}
.test_im2
{
background: url(../img/d-1.jpg) no-repeat 50% 50%;
display: inline-block;
width: 85px;
height: 85px;
}
.test_im2:hover
{
	
}
.test_im3
{

}
.test_im3:hover
{
	
}
.test_im4
{

}
.test_im4:hover
{
	
}
.test_im5
{

}
.test_im5:hover
{
	
}
.test_im6
{

}
.test_im6:hover
{
	
}

/*
.test_im1, .test_im2, .test_im3, .test_im4, .test_im5, .test_im6
{
	display: inline-block;
	width: 85px;
	height: 85px;
}
.test_im1, .test_im2, .test_im3, .test_im4, .test_im5, .test_im6 :hover
{
	
	display: inline-block;
	width: 85px;
	height: 85px;
	
	
}
*/







